* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  background-image: url("/src/assets/abstract-purple-watercolor-background-illustration-high-resolution-free-photo.jpg");
}

/* Form Styles */

form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

label > span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #666;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  form {
    margin: 20px;
  }
}

@media (max-width: 480px) {
  form {
    margin: 10px;
  }
  label > span {
    font-size: 14px;
  }
  input,
  select,
  textarea {
    padding: 8px;
  }
  button[type="submit"] {
    padding: 8px 15px;
  }
}
